"use client";

import { useSearchParams } from "next/navigation";

export function Notice() {
  const searchParams = useSearchParams();

  const notice = searchParams.get("notice");

  if (notice) {
    return (
      <div className="text-center text-success-600 dark:text-success-400 bg-success-100 dark:bg-success-900">
        {notice}
      </div>
    );
  }
}
