.typography a {
  font-weight: 600;
  text-decoration: underline;
}

.typography p {
  margin-bottom: 1rem;
}

.typography h1 {
  font-size: 2rem;
  font-weight: bold;
}

.typography h2 {
  font-size: 1.5rem;
  font-weight: bold;
  border-top: 1px solid var(--color-border);
  padding-top: 24px;
  margin: 32px 0 16px;
}

.typography h3 {
  font-size: 1.5rem;
}

.typography pre {
  margin-bottom: 1rem;
}

.typography p code {
  background-color: var(--muted);
}
