import Link from "next/link";

type SearchParams = Promise<{ [key: string]: string | string[] | undefined }>;

export default async function Page(props: { searchParams: SearchParams }) {
  const searchParams = await props.searchParams;
  const { success, canceled } = searchParams;
  return (
    <div className="max-w-3xl p-5 flex flex-col gap-5 m-auto">
      <h1 className="font-bold font-retro uppercase">Confirmation</h1>
      {success && (
        <div>
          <p>
            Thank you for purchasing. See purchase history at{" "}
            <Link href="/account" className="font-bold underline">
              account.
            </Link>
          </p>
        </div>
      )}

      {canceled && (
        <div>
          <p>Checkout Session was canceled. Please try again.</p>
        </div>
      )}
    </div>
  );
}
