"use client";

import { Table2Icon, GaugeIcon, SettingsIcon, LogOutIcon } from "lucide-react";
import Link from "next/link";
import { cn } from "@/lib/utils";
import { usePathname } from "next/navigation";

const items = [
  { title: "Admin", url: "/admin", icon: GaugeIcon },
  // [CODE_MARK admin-sidebar-items]
  { title: "Settings", url: "/admin/settings", icon: SettingsIcon },
  { title: "Sign out", url: "/signout", icon: LogOutIcon },
];

export function AdminSidebar() {
  const pathname = usePathname();

  return (
    <div className="fixed top-12 z-20 flex min-h-screen w-10 flex-col border-r border-primary-300 bg-primary-50 text-sm dark:border-primary-700 dark:bg-primary-900 sm:w-40">
      {items.map((item) => (
        <Link
          key={item.title}
          href={item.url}
          className={cn(
            "flex h-9 items-center justify-center gap-2 p-2 text-center hover:bg-primary-100 dark:hover:bg-primary-800 sm:justify-start",
            pathname === item.url && "bg-primary-100 dark:bg-primary-800",
          )}
        >
          <item.icon className="h-4 w-4 flex-shrink-0" />
          <span className="hidden overflow-hidden text-nowrap sm:block">
            {item.title}
          </span>
        </Link>
      ))}
    </div>
  );
}
