import { Button } from "@/components/ui/button";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import {
  PageLayout,
  PageHeader,
  PageTitle,
  PageContent,
} from "@/components/ui/page-layout";
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { db } from "@/lib/db";
import { payments } from "@/schema/payments";
import { products } from "@/schema/products";
import { users } from "@/schema/users";
import { authorize } from "@/services/auth/auth-service";
import { desc, eq } from "drizzle-orm";
import { Metadata } from "next";
import { redirect } from "next/navigation";

export const metadata: Metadata = {
  title: "Account",
};

export default async function Page() {
  const session = await authorize("user");

  const user = await db.query.users.findFirst({
    where: eq(users.id, session.user.id),
  });

  if (!user) {
    redirect("/signin");
  }

  const paymentList = await db
    .select()
    .from(payments)
    .leftJoin(products, eq(payments.productId, products.id))
    .innerJoin(users, eq(users.id, payments.userId))
    .where(eq(users.id, session.user.id))
    .orderBy(desc(payments.createdAt));

  return (
    <PageLayout>
      <PageHeader>
        <PageTitle>Account</PageTitle>
      </PageHeader>
      <PageContent className="flex flex-col gap-5">
        {user.stripeCustomerId && (
          <Card>
            <CardHeader>
              <CardTitle>Billing &amp; Payment</CardTitle>
            </CardHeader>
            <CardContent>
              <form action="/api/customer-portal" method="POST">
                <Button type="submit">Edit Billing / View Invoices</Button>
              </form>
            </CardContent>
          </Card>
        )}
        <Card>
          <CardHeader>
            <CardTitle>Billing History</CardTitle>
          </CardHeader>
          <CardContent>
            <Table>
              <TableHeader>
                <TableRow>
                  <TableHead>Product</TableHead>
                  <TableHead>Amount Total</TableHead>
                  <TableHead>Date</TableHead>
                </TableRow>
              </TableHeader>
              <TableBody>
                {paymentList.map((d) => (
                  <TableRow key={d.payments.id}>
                    <TableCell>{d.products?.name}</TableCell>
                    <TableCell>
                      {d.payments.amountTotal &&
                        (d.payments.amountTotal / 100).toLocaleString("en-US", {
                          style: "currency",
                          currency: "USD",
                        })}
                    </TableCell>
                    <TableCell>
                      {d.payments.createdAt.toLocaleString()}
                    </TableCell>
                  </TableRow>
                ))}
              </TableBody>
            </Table>
          </CardContent>
        </Card>
      </PageContent>
    </PageLayout>
  );
}
