import { DarkModeToggle } from "@/components/ui/dark-mode-toggle";
import Link from "next/link";
export function Header() {
  return (
    <header className="mt-5 w-full border-primary-300 px-2 dark:border-primary-700 sm:mt-0 sm:border-b">
      <div className="container mx-auto flex flex-col items-center justify-between gap-5 sm:h-12 sm:flex-row sm:gap-0">
        <div className="flex items-center">
          <Link href="/" className="font-mono font-bold">
            drizzle-next
          </Link>
        </div>
        <div>
          <Link href="/signin">Sign In</Link>
          <div className="ml-5 inline-block">
            <DarkModeToggle />
          </div>
        </div>
      </div>
    </header>
  );
}
