"use client";

import { Alert } from "@/components/ui/alert";
import { useSearchParams } from "next/navigation";

export function Notice() {
  const searchParams = useSearchParams();

  const notice = searchParams.get("notice");

  if (notice) {
    return (
      <div className="bg-primary-50 px-5 pb-0 pt-3 dark:bg-primary-950">
        <Alert variant="success">{notice}</Alert>
      </div>
    );
  }
}
