:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #3C3C43, #3C3C43);
}

.dark {
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #0072F5, #C5F74F);
}