import { Button } from "@/components/ui/button";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { signOutAction } from "@/actions/auth/signout-action";

export default function Page() {
  return (
    <Card>
      <CardHeader>
        <CardTitle>Are you sure you want to sign out?</CardTitle>
      </CardHeader>
      <CardContent>
        <form action={signOutAction}>
          <Button type="submit">Sign out</Button>
        </form>
      </CardContent>
    </Card>
  );
}
