import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { loadStripe } from "@stripe/stripe-js";
import { config } from "@/lib/config";
import { Metadata } from "next";
import { CheckIcon } from "lucide-react";
import { Button } from "@/components/ui/button";

const stripePromise = loadStripe(config.NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY);

export const metadata: Metadata = {
  title: "Pricing",
};

export default function Page() {
  return (
    <div className="grid grid-cols-3 gap-5">
      <Card>
        <CardHeader>
          <CardTitle>One Time</CardTitle>
          <CardDescription>Own forever</CardDescription>
        </CardHeader>
        <CardContent>
          <h2 className="font-bold text-3xl">$100 One Time</h2>
          <ul>
            <li className="flex gap-2">
              <CheckIcon /> Feature A
            </li>
            <li className="flex gap-2">
              <CheckIcon /> Feature B
            </li>
            <li className="flex gap-2">
              <CheckIcon /> Feature C
            </li>
            <li className="flex gap-2">
              <CheckIcon /> Feature D
            </li>
            <li className="flex gap-2">
              <CheckIcon /> Feature E
            </li>
          </ul>
        </CardContent>
        <CardFooter>
          <form action="/api/checkout-sessions-one-time" method="POST">
            <input type="hidden" name="slug" value="one-time-purchase" />
            <Button type="submit">Purchase</Button>
          </form>
        </CardFooter>
      </Card>

      <Card>
        <CardHeader>
          <CardTitle>Monthly Plan</CardTitle>
          <CardDescription>Billed monthly</CardDescription>
        </CardHeader>
        <CardContent>
          <h2 className="font-bold text-3xl">$10 / Month</h2>
          <ul>
            <li className="flex gap-2">
              <CheckIcon /> Feature A
            </li>
            <li className="flex gap-2">
              <CheckIcon /> Feature B
            </li>
            <li className="flex gap-2">
              <CheckIcon /> Feature C
            </li>
            <li className="flex gap-2">
              <CheckIcon /> Feature D
            </li>
            <li className="flex gap-2">
              <CheckIcon /> Feature E
            </li>
          </ul>
        </CardContent>
        <CardFooter>
          <form action="/api/checkout-sessions-subscription" method="POST">
            <input type="hidden" name="slug" value="monthly-subscription" />
            <Button type="submit">Subscribe</Button>
          </form>
        </CardFooter>
      </Card>

      <Card>
        <CardHeader>
          <CardTitle>Dynamic Example</CardTitle>
          <CardDescription>Dynamic Line Items</CardDescription>
        </CardHeader>
        <CardContent>
          <h2 className="font-bold text-3xl">Dynamic Price</h2>
          <ul>
            <li className="flex gap-2">
              <CheckIcon /> Feature A
            </li>
            <li className="flex gap-2">
              <CheckIcon /> Feature B
            </li>
            <li className="flex gap-2">
              <CheckIcon /> Feature C
            </li>
            <li className="flex gap-2">
              <CheckIcon /> Feature D
            </li>
            <li className="flex gap-2">
              <CheckIcon /> Feature E
            </li>
          </ul>
        </CardContent>
        <CardFooter>
          <form action="/api/checkout-sessions-dynamic" method="POST">
            <input type="hidden" name="slug" value="dynamic-product" />
            <Button type="submit">Checkout</Button>
          </form>
        </CardFooter>
      </Card>
    </div>
  );
}
