import { ModeToggle } from "@/components/mode-toggle";
import Link from "next/link";
import { Header } from "../ui/header";
export function PublicHeader() {
  return (
    <Header>
      <div className="container mx-auto flex items-center justify-between gap-5 sm:h-12 sm:gap-0 px-5">
        <div>
          <Link href="/" className="font-mono font-bold">
            drizzle-next
          </Link>
        </div>
        <div className="flex items-center">
          <Link href="/signin">Sign In</Link>
          <div className="ml-5 inline-block">
            <ModeToggle />
          </div>
        </div>
      </div>
    </Header>
  );
}
